<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NOM SITE{% endblock %}</title>

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body>
    <header class="herder">
        {% block header %}

        {% endblock %}
    </header>
    <div class="vue">
        {% block body %}
            <h1>
                {% block titre_principal %}

                {% endblock %}
            </h1>
            {% block vue %}

            {% endblock %}
        {% endblock %}
    </div>
    <footer class="footer">
        {% block footer %}

        {% endblock %}

    </footer>
</body>
</html>
